<article class="d-flex flex-column justify-content-center p-5">
  <header class="d-flex gap-3 align-items-center justify-content-center p-2">
    <h2 class="m-0">Projects</h2>
    <button
      class="btn-default primary-button"
      type="button"
      aria-label="add new job"
      (click)="modalAgregar.toggleModal()"
      *ngIf="estaLogeado()"
    >
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </header>
  <section
    class="grid-columns-2 gap-4"
    *ngIf="projects.length > 0; else noProjects"
  >
    <app-card
      *ngFor="let project of projects"
      [title]="project.title"
      [description]="project.description"
      [imageUrl]="project.imgSrc"
      [footer]="project.creationDate"
      [tags]="getTecnologies(project.tecnologies)"
    >
      <app-modal-actions-button
        (edit)="seleccionarProyecto(project); modalEditar.toggleModal()"
        (remove)="seleccionarProyecto(project); modalEliminar.toggleModal()"
      ></app-modal-actions-button>
    </app-card>
  </section>
</article>
<app-modal #modalAgregar [titulo]="'Add Project'">
  <app-project-form
    (formSubmitted)="agregarProyecto($event); modalAgregar.toggleModal()"
    (formCancel)="modalAgregar.toggleModal()"
  ></app-project-form>
</app-modal>

<app-modal #modalEditar [titulo]="'Edit Project'">
  <app-project-form
    [projectData]="this.proyectoSeleccionado"
    (formSubmitted)="editarProyecto($event); modalEditar.toggleModal()"
    (formCancel)="modalEditar.toggleModal()"
  ></app-project-form>
</app-modal>

<app-modal #modalEliminar [titulo]="'Remove Project'">
  <p *ngIf="proyectoSeleccionado">
    Do you really want to remove <b>{{ proyectoSeleccionado.title }}</b
    >?
  </p>
  <button
    *ngIf="proyectoSeleccionado"
    class="btn-default danger-button m-2"
    type="submit"
    (click)="
      eliminarProyecto(proyectoSeleccionado.id); modalEliminar.toggleModal()
    "
  >
    Delete
  </button>
</app-modal>
<ng-template #noProjects>
  <p class="text-center">- We cannot load projects at this time. -</p>
</ng-template>
