<div class="card text-center p-2 m-2" *ngIf="this.project" [style.background-color]="this.temaActual.properties.colorFuerte" [style.color]="this.temaActual.properties.colorFuerte" >
  <img [src]="this.project.imgSrc" class="card-img-top" [alt]="this.project.title">
  <div class="card-header">
    <h5 class="card-title" [style.color]="this.temaActual.properties.colorDebil">{{this.project.title}}</h5>
  </div>
  <div class="card-body">
    <p class="card-text"[style.color]="this.temaActual.properties.colorDebil" >{{this.project.description}}</p>
    <div class="buttons d-flex flex-column gap-2">
      <a [href]="this.project.linkDemo" class="btn" [style.color]="this.temaActual.properties.colorFuerte" [style.background-color]="this.temaActual.properties.colorDebil">Demo</a>
      <button class="btn" [style.color]="this.temaActual.properties.colorFuerte" [style.background-color]="this.temaActual.properties.colorDebil">Tecnologías</button>
    </div>
  </div>
  <div class="card-footer text-muted" [style.color]="this.temaActual.properties.colorFuerte">
    {{this.project.creationDate}}
  </div>
</div>