.card {
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  max-width: 500px;
  .card-img-top {
    height: 250px;
    align-self: center;
  }
  transition: 0.6s ease;

  &:hover {
    transform: scale(1.02)
  }
}