<form [formGroup]="projectForm">
  <div
    class="form-group mb-3 d-flex align-items-center justify-content-center"
    *ngIf="projectData"
  >
    <input
      [type]="showId ? 'text' : 'password'"
      id="id"
      formControlName="id"
      class="form-control custom-input"
      readonly
      [ngModel]="projectData.id"
    />
    <button type="button" class="btn" (click)="this.showId = !this.showId">
      <i class="fas fa-eye" *ngIf="this.showId"></i>
      <i class="fas fa-eye-slash" *ngIf="!this.showId"></i>
    </button>
  </div>

  <div class="form-group mb-3">
    <input
      id="title"
      class="form-control custom-input"
      [ngModel]="projectData?.title"
      formControlName="title"
      placeholder="Project title"
    />
    <small *ngIf="projectForm.get('title')?.invalid && projectForm.get('title')?.touched">
      Required. Max. 100 characters.
    </small>
  </div>

  <div class="form-group mb-3">
    <textarea
      id="description"
      class="form-control custom-input"
      [ngModel]="projectData?.description"
      formControlName="description"
      placeholder="Project description"
    ></textarea>
    <small *ngIf="projectForm.get('description')?.invalid && projectForm.get('description')?.touched">
      Required. Max. 1000 characters.
    </small>
  </div>

  <div class="form-group mb-3">
    <input
      type="url"
      id="urlImg"
      class="form-control custom-input"
      formControlName="urlImg"
      placeholder="https://ejemplo.com/img.png or assets/img.png"
    />
    <small *ngIf="projectForm.get('urlImg')?.invalid && projectForm.get('urlImg')?.touched">
      Enter a image URL valid.
    </small>
  </div>

  <div class="form-group mb-3">
    <input
      type="url"
      id="link"
      class="form-control custom-input"
      [ngModel]="projectData?.link"
      formControlName="link"
      placeholder="https://site.com"
    />
    <small *ngIf="projectForm.get('link')?.invalid && projectForm.get('link')?.touched">
      Enter a site URL valid.
    </small>
  </div>

  <div class="form-group mb-3">
    <input
      type="date"
      id="startDate"
      [ngModel]="projectData?.startDate"
      class="form-control custom-input"
      formControlName="startDate"
    />
    <small *ngIf="projectForm.get('startDate')?.invalid && projectForm.get('startDate')?.touched">
      Invalid format date. Start date is required.
    </small>
  </div>

  <div class="form-group mb-3">
    <input
      type="date"
      id="endDate"
      [ngModel]="projectData?.endDate"
      class="form-control custom-input"
      formControlName="endDate"
    />
    <small *ngIf="projectForm.get('endDate')?.invalid && projectForm.get('endDate')?.touched">
      Invalid format date. End date is requerid.
    </small>
  </div>

  <div class="form-group mb-4">
    <ng-select
      [items]="skills$ | async"
      bindLabel="name"
      bindValue="id"
      [multiple]="true"
      [placeholder]="
        (projectForm.get('technologies')?.value?.length || 0) === 0
          ? 'Select technologies...'
          : ''
      "
      [closeOnSelect]="false"
      [hideSelected]="true"
      formControlName="technologies"
      class="form-control"
    >
    </ng-select>
    <small
      *ngIf="
        projectForm.get('technologies')?.hasError('required') &&
        projectForm.get('technologies')?.touched
      "
    >
      Select at least one technology.
    </small>
  </div>

  <app-form-actions-button (cancel)="cancel()" (save)="submit()"></app-form-actions-button>
</form>
