<article
  class="bg-skills text-center position-absolute top-0 left-0 min-vh-100 w-100"
>
  <div class="container" *ngIf="skills$ | async as habilidades">
    <header class="d-flex gap-3 align-items-center justify-content-center">
      <div>
        <h1 class="m-0"><b>Tecnologías</b></h1>
        <hr class="underline-title" />
      </div>
      <button
        class="btn-default primary-button"
        type="button"
        (click)="modalAgregar.toggleModal()"
        *ngIf="isLogin()"
      >
        <i class="fa fa-plus"></i>
      </button>
    </header>
    <section
      class="container text-center flex-wrap py-3 mb-3 gap-3"
      *ngIf="habilidades.length > 0; else noSkills"
    >
      <ng-container *ngFor="let tipo of skillTypes">
        <div *ngIf="groupedSkills[tipo]" class="my-4">
          <h2 class="text-center mb-4">
            {{ skillTypeLabels[tipo] }}
          </h2>

          <!-- Grilla en pantallas medianas y grandes-->
          <div class="row d-none d-md-flex">
            <div
              class="col-3 col-lg-2 mb-4"
              *ngFor="let skill of groupedSkills[tipo]"
            >
              <div class="card-group justify-content-center">
                <app-skill-card [technology]="skill"></app-skill-card>

                <div *ngIf="isLogin()" class="mt-2">
                  <app-modal-actions-button
                    (edit)="
                      seleccionarHabilidad(skill); modalEditar.toggleModal()
                    "
                    (remove)="
                      seleccionarHabilidad(skill); modalEliminar.toggleModal()
                    "
                  ></app-modal-actions-button>
                </div>
              </div>
            </div>
          </div>

          <!-- Carrousel horizontal en pantallas mobile -->
          <div class="d-md-none skill-carousel-container">
            <div
              class="skill-carousel-item py-2 px-3"
              *ngFor="let skill of groupedSkills[tipo]"
            >
              <app-skill-card [technology]="skill"></app-skill-card>

              <div *ngIf="isLogin()" class="mt-2">
                <app-modal-actions-button
                  (edit)="
                    seleccionarHabilidad(skill); modalEditar.toggleModal()
                  "
                  (remove)="
                    seleccionarHabilidad(skill); modalEliminar.toggleModal()
                  "
                ></app-modal-actions-button>
              </div>
            </div>
          </div>

          <hr class="section-separator" />
        </div>
      </ng-container>
    </section>
  </div>
</article>

<app-modal #modalAgregar [titulo]="'Add Skill'">
  <app-skill-form
    (formSubmitted)="agregarHabilidad($event); modalAgregar.toggleModal()"
    (formCancel)="modalAgregar.toggleModal()"
  ></app-skill-form>
</app-modal>

<app-modal #modalEditar [titulo]="'Edit Skill'">
  <app-skill-form
    [skillData]="habilidadSeleccionada"
    (formSubmitted)="editarHabilidad($event); modalEditar.toggleModal()"
    (formCancel)="modalEditar.toggleModal()"
  ></app-skill-form>
</app-modal>

<app-modal #modalEliminar [titulo]="'Remove Skill'">
  <p *ngIf="this.habilidadSeleccionada">
    Do you really want to remove <b>{{ habilidadSeleccionada.name }}</b
    >?
  </p>
  <button
    *ngIf="this.habilidadSeleccionada"
    class="btn-default danger-button m-2"
    type="submit"
    (click)="
      eliminarHabilidad(habilidadSeleccionada.id); modalEliminar.toggleModal()
    "
  >
    Delete
  </button>
</app-modal>
<ng-template #noSkills>
  <p class="text-center">Loading skills ...</p>
</ng-template>
