<header class="d-flex align-items-center justify-content-between">
  <app-brand></app-brand>
  <section>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavbar"
      (click)="toggleMenu()"
    >
      <span class="navbar-toggler-icon nav-icon">
        <fa-icon [icon]="menu" *ngIf="!activeMenu"></fa-icon>
        <fa-icon [icon]="close" *ngIf="activeMenu"></fa-icon>
      </span>
    </button>
      <app-navbar class="abs"></app-navbar>
  </section>
</header>
