.abs {
  position: fixed;
  top: 60px;
  right: 110px;
}

fa-icon {
  font-size: 2em;
  color: var(--textoPrimario);
  margin: 0 1em;

}

.navbar-toggler {
  .navbar-toggler-icon {
    background-image: none;
    display: inline;
  }
}

.navbar-collapse {
  justify-content: flex-end;
}

@media (max-width: 999px) {
  .show {
    display: flex;
  }

  .container-fluid {
    .navbar-collapse {
      padding: 0 30px;

      .navbar-nav {
        flex-direction: row;
      }
    }
  }
}
