<form [formGroup]="jobForm" (ngSubmit)="submit()">
  <div
    class="form-group mb-3 d-flex align-items-center justify-content-center"
    *ngIf="jobData"
  >
    <input
      [type]="showId ? 'text' : 'password'"
      id="id"
      formControlName="id"
      class="form-control custom-input"
      readonly
      [value]="jobData.id"
    />
    <button type="button" class="btn" (click)="this.showId = !this.showId">
      <i class="fas fa-eye" *ngIf="this.showId"></i>
      <i class="fas fa-eye-slash" *ngIf="!this.showId"></i>
    </button>
  </div>

  <div class="form-group mb-3">
    <input
      type="date"
      id="startDate"
      [value]="jobData?.startDate"
      class="form-control custom-input"
      placeholder="Date start"
      formControlName="startDate"
    />
    <small
      *ngIf="
        jobForm?.get('startDate')?.invalid &&
        jobForm?.get('startDate')?.touched
      "
    >
      Start date is required.
    </small>
  </div>

  <div class="form-group mb-3">
    <input
      type="date"
      id="endDate"
      [value]="jobData?.endDate"
      class="form-control custom-input"
      placeholder="Date end"
      formControlName="endDate"
    />
    <small
      *ngIf="
        jobForm?.get('endDate')?.invalid && jobForm?.get('endDate')?.touched
      "
    >
      End date is required.
    </small>
  </div>

  <div class="form-group mb-3">
    <input
      type="text"
      id="title"
      [value]="jobData?.title"
      class="form-control custom-input"
      placeholder="Title"
      formControlName="title"
    />
    <small *ngIf="jobForm?.get('title')?.invalid && jobForm?.get('title')?.touched">
      Required. Max 50 characters.
    </small>
  </div>

  <div class="form-group mb-3">
    <input
      type="text"
      id="description"
      class="form-control custom-input"
      [value]="jobData?.description"
      placeholder="Description"
      formControlName="description"
    />
    <small
      *ngIf="
        jobForm?.get('description')?.invalid &&
        jobForm?.get('description')?.touched
      "
    >
      Required. Max 255 characters.
    </small>
  </div>
  
  <div class="form-group mb-3">
    <input
      type="url"
      id="urlImg"
      class="form-control custom-input"
      [value]="jobData?.urlImg"
      placeholder="https://imagen.png or assets/img.png"
      formControlName="urlImg"
    />
    <small
      *ngIf="jobForm?.get('urlImg')?.invalid && jobForm?.get('urlImg')?.touched"
    >
      Enter a valid image URL.
    </small>
  </div>

  <div class="form-group mb-4">
    <ng-select
      [items]="skills$ | async"
      bindLabel="name"
      bindValue="id"
      [multiple]="true"
      [placeholder]="
        (jobForm.get('technologies')?.value?.length || 0) === 0
          ? 'Select technologies...'
          : ''
      "
      [closeOnSelect]="false"
      [hideSelected]="true"
      formControlName="technologies"
      class="form-control"
    >
    </ng-select>
    <small
      *ngIf="
        jobForm.get('technologies')?.hasError('required') &&
        jobForm.get('technologies')?.touched
      "
    >
      Select at least one technology.
    </small>
  </div>
  <app-form-actions-button
    (save)="submit()"
    (cancel)="cancel()"
  ></app-form-actions-button>
</form>
