<form [formGroup]="jobForm" (ngSubmit)="submit()">
  <div
    class="form-group mb-3 d-flex align-items-center justify-content-center"
    *ngIf="jobData"
  >
    <input
      [type]="showId ? 'text' : 'password'"
      id="id"
      formControlName="id"
      class="form-control custom-input"
      readonly
      [ngModel]="jobData.id"
    />
    <button type="button" class="btn" (click)="this.showId = !this.showId">
      <i class="fas fa-eye" *ngIf="this.showId"></i>
      <i class="fas fa-eye-slash" *ngIf="!this.showId"></i>
    </button>
  </div>

  <div class="form-group mb-3">
    <input
      type="date"
      id="initialDate"
      [ngModel]="jobData?.initialDate"
      class="form-control custom-input"
      placeholder="Date start"
      formControlName="initialDate"
    />
    <small
      *ngIf="
        jobForm?.get('initialDate')?.invalid &&
        jobForm?.get('initialDate')?.touched
      "
    >
      Start date is required.
    </small>
  </div>

  <div class="form-group mb-3">
    <input
      type="date"
      id="finalDate"
      [ngModel]="jobData?.finalDate"
      class="form-control custom-input"
      placeholder="Date end"
      formControlName="finalDate"
    />
    <small
      *ngIf="
        jobForm?.get('finalDate')?.invalid && jobForm?.get('finalDate')?.touched
      "
    >
      End date is required.
    </small>
  </div>

  <div class="form-group mb-3">
    <input
      type="text"
      id="job"
      [ngModel]="jobData?.job"
      class="form-control custom-input"
      placeholder="Job name"
      formControlName="job"
    />
    <small *ngIf="jobForm?.get('job')?.invalid && jobForm?.get('job')?.touched">
      Required. Max 50 characters.
    </small>
  </div>

  <div class="form-group mb-3">
    <input
      type="text"
      id="description"
      class="form-control custom-input"
      [ngModel]="jobData?.description"
      placeholder="Description"
      formControlName="description"
    />
    <small
      *ngIf="
        jobForm?.get('description')?.invalid &&
        jobForm?.get('description')?.touched
      "
    >
      Required. Max 255 characters.
    </small>
  </div>

  <div class="form-group mb-3">
    <input
      type="url"
      id="linkJob"
      class="form-control custom-input"
      [ngModel]="jobData?.linkJob"
      placeholder="https://www.bussiness.com"
      formControlName="linkJob"
    />
    <small
      *ngIf="
        jobForm?.get('linkJob')?.invalid && jobForm?.get('linkJob')?.touched
      "
    >
      Enter a valid URL.
    </small>
  </div>
  <div class="form-group mb-3">
    <input
      type="url"
      id="imgSrc"
      class="form-control custom-input"
      [ngModel]="jobData?.imgSrc"
      placeholder="https://imagen.png or assets/img.png"
      formControlName="imgSrc"
    />
    <small
      *ngIf="jobForm?.get('imgSrc')?.invalid && jobForm?.get('imgSrc')?.touched"
    >
      Enter a valid image URL.
    </small>
  </div>

  <div class="form-group mb-4">
    <ng-select
      [items]="skills$ | async"
      bindLabel="name"
      bindValue="id"
      [multiple]="true"
      [placeholder]="
        (jobForm.get('technologies')?.value?.length || 0) === 0
          ? 'Select technologies...'
          : ''
      "
      [closeOnSelect]="false"
      [hideSelected]="true"
      formControlName="technologies"
      class="form-control"
    >
    </ng-select>
    <small
      *ngIf="
        jobForm.get('technologies')?.hasError('required') &&
        jobForm.get('technologies')?.touched
      "
    >
      Select at least one technology.
    </small>
  </div>
  <app-form-actions-button
    (save)="submit()"
    (cancel)="cancel()"
  ></app-form-actions-button>
</form>
