<nav class="navbar align-items-center">
  <div class="menu text-center">
    <button (click)="showHideMenu()" class="btn-menu">
      <div
        class="button-menu-bar d-flex flex-column align-items-end h-100"
        *ngIf="!this.showMenu"
      >
        <span class="lineup1 config-menu"></span>
        <span class="lineup2 config-menu"></span>
        <span class="lineup3 config-menu"></span>
      </div>
      <span
        class="button-menu-close"
        *ngIf="this.showMenu"
      ></span>
    </button>
    <ul
      class="menu-navbar text-center position-absolute p-4"
      [class.show]="this.showMenu"
      [class.hide]="!this.showMenu"
    >
      <li *ngFor="let item of items">
        <app-nav-icon [link]="item.link" [classIcon]="item.iconClass"></app-nav-icon>
      </li>
      <hr class="section-separator w-75"/>
      <button class="btn" (click)="toggleTema()">
        <span *ngIf="this.getTema() === 'light'">
          <i class="fa fa-moon"></i>
        </span>
        <span *ngIf="this.getTema() === 'dark'">
          <i class="fa fa-sun"></i>
        </span>
      </button>
    </ul>
  </div>
</nav>
