<form [formGroup]="formationForm">
  <div
    class="form-group mb-3 d-flex align-items-center justify-content-center"
    *ngIf="formationData"
  >
    <input
      [type]="showId ? 'text' : 'password'"
      id="id"
      formControlName="id"
      class="form-control custom-input"
      readonly
      [value]="this.formationData.id"
    />
    <button type="button" class="btn" (click)="this.showId = !this.showId">
      <i class="fas fa-eye" *ngIf="this.showId"></i>
      <i class="fas fa-eye-slash" *ngIf="!this.showId"></i>
    </button>
  </div>
  <div class="form-group mb-3">
    <input
      type="text"
      id="title"
      [value]="formationData?.title"
      formControlName="title"
      class="form-control custom-input"
      placeholder="Formation title"
    />
    <small
      *ngIf="
        formationForm.get('title')?.invalid &&
        formationForm.get('title')?.touched
      "
    >
      Title is required.
    </small>
  </div>
  <div class="form-group mb-3">
    <textarea
      id="description"
      class="form-control custom-input"
      formControlName="description"
      [value]="formationData?.description"
      placeholder="Write formation description..."
      rows="2"
    ></textarea>
    <small
      *ngIf="
        formationForm.get('title')?.invalid &&
        formationForm.get('title')?.touched
      "
    >
      Description is required.
    </small>
  </div>

  <div class="form-group mb-3">
    <input
      type="text"
      id="type"
      [value]="formationData?.type"
      formControlName="type"
      class="form-control custom-input"
      placeholder="Formation type"
    />
    <small
      *ngIf="
        formationForm.get('type')?.invalid && formationForm.get('type')?.touched
      "
    >
      Formation type is required.
    </small>
  </div>

  <div class="form-group mb-3">
    <input
      type="text"
      id="academy"
      [value]="formationData?.type"
      formControlName="academy"
      class="form-control custom-input"
      placeholder="Academic institution name"
    />
    <small
      *ngIf="
        formationForm.get('academy')?.invalid && formationForm.get('academy')?.touched
      "
    >
      Academy name is required.
    </small>
  </div>
  <div class="form-group mb-3">
    <input
      type="text"
      id="startDate"
      [value]="formationData?.startDate"
      formControlName="startDate"
      class="form-control custom-input"
      placeholder="Formation start date"
    />
    <small
      *ngIf="
        formationForm.get('startDate')?.invalid &&
        formationForm.get('startDate')?.touched
      "
      >Formation start date is required.</small
    >
  </div>
  <div class="form-group mb-3">
    <input
      type="text"
      id="endDate"
      [value]="formationData?.endDate"
      formControlName="endDate"
      class="form-control custom-input"
      placeholder="Formation end date"
    />
    <small
      *ngIf="
        formationForm.get('endDate')?.invalid &&
        formationForm.get('endDate')?.touched
      "
      >Formation end date is required.</small
    >
  </div>
  <div class="form-group mb-4">
    Select Skills Here...
  </div>
  <app-form-actions-button
    (save)="submit()"
    (cancel)="cancel()"
  ></app-form-actions-button>
</form>
