<form [formGroup]="formationForm" (ngSubmit)="submit()">
  <div
    class="form-group mb-3 d-flex align-items-center justify-content-center"
    *ngIf="formationData"
  >
    <input
      [type]="showId ? 'text' : 'password'"
      id="id"
      formControlName="id"
      class="form-control custom-input"
      readonly
      [value]="this.formationData.id"
    />
    <button type="button" class="btn" (click)="this.showId = !this.showId">
      <i class="fas fa-eye" *ngIf="this.showId"></i>
      <i class="fas fa-eye-slash" *ngIf="!this.showId"></i>
    </button>
  </div>
  <div class="form-group mb-3">
    <input
      type="text"
      id="title"
      [ngModel]="formationData?.title"
      formControlName="title"
      class="form-control custom-input"
      placeholder="Formation title"
    />
    <small
      *ngIf="
        formationForm.get('title')?.invalid &&
        formationForm.get('title')?.touched
      "
    >
      Name is mandatory.
    </small>
  </div>

  <div class="form-group mb-3">
    <input
      type="text"
      id="img"
      [ngModel]="formationData?.img"
      formControlName="img"
      class="form-control custom-input"
      placeholder="Image url"
    />
    <small
      *ngIf="
        formationForm.get('img')?.invalid && formationForm.get('img')?.touched
      "
    >
      Image url is mandatory.
    </small>
  </div>

  <div class="form-group mb-3">
    <input
      type="text"
      id="institution"
      [ngModel]="formationData?.link"
      formControlName="link"
      class="form-control custom-input"
      placeholder="Academic institution name"
    />
    <small
      *ngIf="
        formationForm.get('link')?.invalid && formationForm.get('link')?.touched
      "
    >
      Institution name is mandatory.
    </small>
  </div>
  <div class="form-group mb-3">
    <input
      type="text"
      id="timeForm"
      [ngModel]="formationData?.timeForm"
      formControlName="timeForm"
      class="form-control custom-input"
      placeholder="Formation time"
    />
    <small
      *ngIf="
        formationForm.get('timeForm')?.invalid &&
        formationForm.get('timeForm')?.touched
      "
      >Formation time is mandatory.</small
    >
  </div>
  <app-form-actions-button
    (save)="submit()"
    (cancel)="cancel()"
  ></app-form-actions-button>
</form>
