<article class="d-flex flex-column justify-content-space-between">
  <header class="d-flex gap-3 justify-content-center align-items-center p-2 mb-4">
    <h2 class="m-0">Últimos trabajos</h2>
    <button
      class="btn-default primary-button"
      type="button"
      aria-label="add new job"
      (click)="modalAgregar.toggleModal()"
      *ngIf="userLogged"
    >
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </header>
  <section *ngIf="jobs$ | async as jobs" class="row">
    <ng-container *ngIf="jobs.length > 0; else noJobs">
      <app-card
      *ngFor="let trabajo of jobs"
      [title]="trabajo.title"
      [imageUrl]="trabajo.urlImg"
      [description]="trabajo.description"
      [footer]="mapDate(trabajo.startDate) + ' - ' + mapDate(trabajo.endDate)"
      [tags]="getTechnologiesNamesById(trabajo.technologies)"
      class="col-12 col-md-6 col-lg-4 py-3"
    >
      <app-modal-actions-button
        *ngIf="userLogged"
        (edit)="seleccionarTrabajo(trabajo); modalEditar.toggleModal()"
        (remove)="seleccionarTrabajo(trabajo); modalEliminar.toggleModal()"
      >
      </app-modal-actions-button>
    </app-card>
    </ng-container>
  </section>
</article>
<app-modal #modalAgregar [titulo]="'Add Job'">
  <app-job-form
    (formSubmitted)="agregarTrabajo($event); modalAgregar.toggleModal()"
    (formCancel)="modalAgregar.toggleModal()"
  ></app-job-form>
</app-modal>

<app-modal #modalEditar [titulo]="'Edit Job'">
  <app-job-form
    [jobData]="this.trabajoSeleccionado"
    (formSubmitted)="editarTrabajo($event); modalEditar.toggleModal()"
    (formCancel)="modalEditar.toggleModal()"
  ></app-job-form>
</app-modal>

<app-modal #modalEliminar [titulo]="'Remove Job'">
  <p *ngIf="this.trabajoSeleccionado">
    Do you really want to remove <b>{{ this.trabajoSeleccionado.title }}</b
    >?
  </p>
  <button
    *ngIf="this.trabajoSeleccionado"
    class="btn-default danger-button m-2"
    type="submit"
    (click)="
      eliminarTrabajo(this.trabajoSeleccionado.id); modalEliminar.toggleModal()
    "
  >
    Delete
  </button>
</app-modal>
<ng-template #noJobs>
  <p class="text-center">Loading jobs ...</p>
</ng-template>
