<article class="d-flex flex-column justify-content-space-between">
  <header class="d-flex gap-3 justify-content-center align-items-center p-2">
    <h2 class="m-0">Last Jobs</h2>
    <button
      class="btn-default primary-button"
      type="button"
      aria-label="agregar nuevo trabajo"
      (click)="modalAgregar.toggleModal()"
      *ngIf="estaLogeado()"
    >
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </header>
  <section *ngIf="trabajos.length > 0; else noJobs" class="row">
    <app-card
      class="col-6 p-3 "
      *ngFor="let trabajo of this.trabajos"
      [title]="trabajo.job"
      [imageUrl]="trabajo.imgSrc"
      [description]="trabajo.description"
      [footer]="trabajo.initialDate + ' - ' + trabajo.finalDate"
      [tags]="getTecnologies(trabajo.tecnologies)"
    >
    <div class="d-flex justify-content-center align-items-center gap-4 p-4">
      <button class="btn-default primary-button">Demo View</button>
      <button class="btn-default primary-button">Go to Site</button>
    </div>
      <app-modal-actions-button *ngIf="estaLogeado()" (edit)="seleccionarTrabajo(trabajo); modalEditar.toggleModal()" (remove)="seleccionarTrabajo(trabajo); modalEliminar.toggleModal()">
      </app-modal-actions-button>
    </app-card>
  </section>
</article>
<app-modal #modalAgregar [titulo]="'Add Job'">
  <app-job-form
    (formSubmitted)="agregarTrabajo($event); modalAgregar.toggleModal()"
    (formCancel)="modalAgregar.toggleModal()"
  ></app-job-form>
</app-modal>

<app-modal #modalEditar [titulo]="'Edit Job'">
  <app-job-form
    [jobData]="this.trabajoSeleccionado"
    (formSubmitted)="editarTrabajo($event); modalEditar.toggleModal()"
    (formCancel)="modalEditar.toggleModal()"
  ></app-job-form>
</app-modal>

<app-modal #modalEliminar [titulo]="'Remove Job'">
  <p *ngIf="this.trabajoSeleccionado">
    Do you really want to remove <b>{{ this.trabajoSeleccionado.job }}</b
    >?
  </p>
  <button
    *ngIf="this.trabajoSeleccionado"
    class="btn-default danger-button m-2"
    type="submit"
    (click)="
      eliminarTrabajo(this.trabajoSeleccionado.id); modalEliminar.toggleModal()
    "
  >
    Delete
  </button>
</app-modal>
<ng-template #noJobs>
  <p class="text-center">- We cannot load jobs at this time. -</p>
</ng-template>
