<div class="card text-center p-2 m-2" *ngIf="this.project">
  <img [src]="this.project.imgSrc" [alt]="this.project.title">
  <div class="card-header">
    <h5 class="card-title">{{this.project.title}}</h5>
  </div>
  <div class="card-body">
    <p>{{this.project.description}}</p>
    <div class="d-flex flex-column gap-2">
      <a [href]="this.project.linkDemo" class="btn">Demo</a>
      <button class="btn">Tecnologías</button>
    </div>
  </div>
  <div class="card-footer text-muted">
    {{this.project.creationDate}}
  </div>
</div>