<article class="card text-center p-2 m-2" *ngIf="this.project">
  <header class="card-header">
    <img [src]="this.project.imgSrc" [alt]="this.project.title" />
    <h5 class="card-title">{{ this.project.title }}</h5>
  </header>
  <section class="card-body">
    <p>{{ this.project.description }}</p>
    <div class="d-flex flex-column gap-2">
      <a [href]="this.project.linkDemo" class="btn">Demo</a>
      <button class="btn">Tecnologías</button>
    </div>
  </section>
  <footer class="card-footer text-muted">
    {{ this.project.creationDate }}
  </footer>
</article>
