<div class="sobre-mi espaciado text-center">
  <div class="p-2 pb-3">
    <h1>Perfil Profesional</h1>
    <div class="px-4 mi-perfil" *ngIf="this.usuario">
      <p>
        Tengo {{ this.usuario.edad }} años y soy Desarrollador de Software.
        <br />{{ this.usuario.descripcion }}
      </p>
    </div>

    <a
      href="assets\CV Agustin Collueque.pdf"
      download="cv-agustin-collueque"
      class="btn"
      >Descargar CV</a
    >
    <a routerLink="/contacto" class="btn">Contáctame</a>
  </div>
  <app-habilidad></app-habilidad>
</div>
