<article class="d-md-flex align-items-center">
  <div class="d-flex align-items-center flex-column gap-3 info-user">
    <header class="titulo-destacado position-relative d-inline-block">
      <h1 class="titulo-neon">{{title}}</h1>
      <span class="orbe orbe-1"></span>
      <span class="orbe orbe-2"></span>
      <span class="orbe orbe-3"></span>
    </header>
    <section>
      <p>
        Especialista en construccion de aplicaciones web dinámicas con las mejores prácticas de desarrollo.
      </p>
    </section>
    <footer class="w-100">
      <button class="call-button" (click)="goToProphile()">¿Quién Soy?</button>
    </footer>
  </div>
</article>
