.bg-home {
  padding-top: 150px;
  background: linear-gradient(
    to right,
    var(--bg-primary-color) 70%,
    var(--bg-secondary-color) 30%
  );
  transition: background 1s ease;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;

  .spinner-container {
    color: var(--primary-text-color);
    .spinner-border {
      color: var(--primary-text-color);
    }

    p {
      font-size: var(--small-text-size);
    }
  }
}
