<article
  class="bg-contact text-center w-100 h-100 d-flex flex-column justify-content-center align-items-center"
>
  <header class="text-center">
    <h1><b>Contact me</b></h1>
    <hr class="underline-title w-50">
    <p>Do you have a project in mind or want to ask me a question?</p>
    <p>I am at your service.</p>
    <p class="fw-light">Write to me! I will respond to you as soon as possible.</p>
  </header>
  <section>
    <app-form-contact
      (contactSubmit)="enviarMensaje($event)"
    ></app-form-contact>
  </section>
</article>
