.bg-contact {
  color: var(--primary-text-color);
  padding-top: 200px;
  background: linear-gradient(
    140deg,
    var(--bg-primary-color) 10%, 
    var(--bg-secondary-color) 70%
  );

  p {
    font-size: var(--medium-text-size);
  }

  transition: background 0.5s ease;
}