<article
  class="bg-contact text-center w-100 h-100 min-vh-100 d-flex flex-column justify-content-center align-items-center"
>
<ng-container class="container">

  <header class="text-center px-2">
    <h1><b>Contactame</b></h1>
    <hr class="underline-title w-50">
    <p>¿Tienes algún proyecto en mente o quieres realizarme una pregunta?</p>
    <p class="lead">Estoy a tu servicio.</p>
    <p class="fw-light">¡Escribeme! Te respondere lo antes posible.</p>
  </header>
  <section class="container">
    <app-form-contact
      (contactSubmit)="trySend($event)"
      ></app-form-contact>
    </section>
  </ng-container>
</article>
