.bg-form {
  color: var(--primary-text-color);
  padding-top: 150px;
  background: linear-gradient(
    135deg,
    var(--card-bg-color) 0%,
    var(--bg-primary-color) 50%,
    var(--bg-primary-b-color) 100%
  );
  transition: background 0.5s ease;
}
