.bg-form {
  color: var(--primary-text-color);
  padding-top: 150px;

  background: linear-gradient(
    135deg,
    var(--bg-primary-color) 0%,
    var(--bg-primary-b-color) 100%
  );
  background-size: 200% 200%;
  animation: backgroundShift 10s ease infinite;
  transition: background 0.5s ease;

  @keyframes backgroundShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
