.bg-form {
  color: var(--primary-text-color);
  padding-top: 200px;

  background: linear-gradient(
    135deg,
    var(--bg-primary-color) 50%, 
    var(--bg-secondary-color) 40%
  );

  transition: background 0.5s ease;
}