<form #addForm (ngSubmit)="agregarHabilidad(addForm)">
  <div class="form-group">
    <label for="nombreHab">Nombre</label>
    <input
      type="text"
      ngModel
      name="nombre"
      class="form-control"
      id="nombreHab"
      placeholder="nombre"
      required
    />
  </div>
  <div class="form-group">
    <label for="urlLogo">URL logo</label>
    <input
      type="text"
      ngModel
      name="logo"
      class="form-control"
      id="urlLogo"
      placeholder="logo"
      required
    />
  </div>
</form>
