<form
  #contactForm
  class="contact-form p-4 rounded shadow d-flex flex-column gap-3"
  (ngSubmit)="enviar(contactForm)"
>
  <div class="form-group mb-3">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" placeholder="Tu nombre" required />
  </div>

  <div class="form-group mb-3">
    <label for="email" class="form-label fw-bold">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      class="form-control custom-input"
      placeholder="Tu correo electrónico"
    />
  </div>

  <div class="form-group mb-4">
    <label for="message" class="form-label fw-bold">Mensaje</label>
    <input
      type="text"
      name="message"
      id="message"
      class="form-control custom-input"
      placeholder="Escribí tu mensaje"
    />
  </div>

  <button class="btn w-100 custom-btn" type="submit">Enviar</button>
</form>
