<form [formGroup]="skillForm" (ngSubmit)="submit()" class="skill-form p-3">
  <div class="form-group mb-3 d-flex align-items-center justify-content-center" *ngIf="skillData">
    <input
      [type]="this.showId ? 'text' : 'password'"
      id="id"
      formControlName="id"
      class="form-control custom-input"
      readonly
      [value]="this.skillData.id"
    />
    <button type="button" class="btn" (click)="this.showId = !this.showId">
      <i class="fas fa-eye" *ngIf="this.showId"></i>
      <i class="fas fa-eye-slash" *ngIf="!this.showId"></i>
    </button>
  </div>
  <div class="form-group mb-3">
    <input
      type="text"
      id="name"
      formControlName="name"
      class="form-control custom-input"
      placeholder="Skill name"
      [ngModel]="this.skillData?.name"
    />
    <small
      *ngIf="skillForm.get('name')?.invalid && skillForm.get('name')?.touched"
    >
      Skill name is required.</small
    >
  </div>

  <div class="form-group mb-3">
    <input
      type="text"
      id="description"
      formControlName="description"
      class="form-control custom-input"
      placeholder="Skill description"
      [ngModel]="this.skillData?.description"
    />
    <small
      *ngIf="skillForm.get('name')?.invalid && skillForm.get('name')?.touched"
    >
      Skill description is required.</small
    >
  </div>

  <div class="form-group mb-4">
    <input
      type="text"
      id="logo"
      formControlName="logo"
      class="form-control custom-input"
      placeholder="https://logos/logo.svg or assets/logo.png"
      [ngModel]="this.skillData?.urlLogo"
    />
    <small
      *ngIf="skillForm.get('logo')?.invalid && skillForm.get('logo')?.touched"
      >Logo URL is required</small
    >
  </div>
  <div class="form-group mb-4">
    <input
      type="checkbox"
      id="isLearning"
      formControlName="isLearning"
      class="form-control custom-input"
      placeholder="https://logos/logo.svg or assets/logo.png"
      [ngModel]="this.skillData?.isLearning"
    />
  </div>

  <app-form-actions-button
    (save)="submit()"
    (cancel)="cancel()"
  ></app-form-actions-button>
</form>
