<form [formGroup]="skillForm" class="skill-form p-3">
  <div class="form-group mb-3 d-flex align-items-center justify-content-center" *ngIf="skillData">
    <input
      [type]="this.showId ? 'text' : 'password'"
      id="id"
      formControlName="id"
      class="form-control custom-input"
      readonly
      [value]="skillData.id"
    />
    <button type="button" class="btn" (click)="this.showId = !this.showId">
      <i class="fas fa-eye" *ngIf="this.showId"></i>
      <i class="fas fa-eye-slash" *ngIf="!this.showId"></i>
    </button>
  </div>
  <div class="form-group mb-3">
    <input
      type="text"
      id="name"
      formControlName="name"
      class="form-control custom-input"
      placeholder="Skill name"
      [value]="skillData?.name"
    />
    <small
      *ngIf="skillForm.get('name')?.invalid && skillForm.get('name')?.touched"
    >
      Skill name is required.</small
    >
  </div>

  <div class="form-group mb-3">
    <input
      type="text"
      id="type"
      formControlName="type"
      class="form-control custom-input"
      placeholder="Skill type"
      [value]="skillData?.type"
    />
    <small
      *ngIf="skillForm.get('type')?.invalid && skillForm.get('type')?.touched"
    >
      Skill type is required.</small
    >
  </div>
  <div class="form-group mb-3">
    <input
      type="text"
      id="skills"
      formControlName="skills"
      class="form-control custom-input"
      placeholder="Skill topics"
    />
    <small
      *ngIf="skillForm.get('skills')?.invalid && skillForm.get('skills')?.touched"
    >
      Skill topics is required.</small
    >
  </div>

  <div class="form-group mb-4">
    <input
      type="text"
      id="urlLogo"
      formControlName="urlLogo"
      class="form-control custom-input"
      placeholder="https://logos/logo.svg or assets/logo.png"
      [value]="skillData?.urlLogo"
    />
    <small
      *ngIf="skillForm.get('urlLogo')?.invalid && skillForm.get('urlLogo')?.touched"
      >Logo URL is required</small
    >
  </div>
  <div class="form-group mb-4">
    <input
      type="checkbox"
      id="isLearning"
      formControlName="isLearning"
      [value]="skillData?.isLearning"
    /> Is learning?
  </div>

  <app-form-actions-button
    (save)="submit()"
    (cancel)="cancel()"
  ></app-form-actions-button>
</form>
