<article class="sobre-mi text-center w-100">
  <header>
    <h2>Professional Profile</h2>
    <p>Web developer with more than 2 (two) years of experience</p>
  </header>
  <hr class="section-separator w-50"/>
  <section class="px-4 mi-perfil">
    <p *ngIf="this.usuario; else noDescription">
      {{ this.usuario.description }}
    </p>
  </section>
  <ng-template #noDescription
    >I like to craft solid and scalable frontend products with great user
    experiences.</ng-template
  >
  <hr class="section-separator w-50"/>
  <footer class="d-flex align-items-center justify-content-center gap-4">
    <a
      href="assets\CV Agustin Collueque.pdf"
      download="cv-agustin-collueque"
      class="call-button"
      >Download CV</a
    >
    <button class="call-button" (click)="irAContacto()">
      Contact me
    </button>
  </footer>
</article>
