<article
  class="text-center w-100"
  *ngIf="data$ | async as data; else loading"
>
  <div class="container">
    <header class="p-3">
      <h2>Me llamo {{data.name}}</h2>
      <h5>Y soy &lt;&lt;<span class="fw-italic">{{data.title}} Full Stack</span>&gt;&gt;</h5>
      <p class="fw-bold p-2">
        {{ data.mainPhrase }}
      </p>
    </header>
    <hr class="section-separator w-50" />
    <section class="px-4 d-flex justify-content-center align-items-center">
      <div>
        
        <p class="t-j">
          {{ data.description }}
        </p>
        <p class="fw-light">"{{ data.secondaryPhrase }}"</p>
      </div>
    </section>
    <hr class="section-separator w-50" />
    <footer class="d-flex align-items-center justify-content-center gap-4">
      <a
        [href]="data.urlCV"
        [download]="'CV-' + data.name + '-' + data.title"
        class="call-button"
        >Descarga mi CV</a
      >
      <button class="call-button" (click)="irAContacto()">Contactame</button>
    </footer>
  </div>
</article>
<ng-template #loading>
  <p>Cargando mi perfil...</p>
</ng-template>
