<article class="d-flex flex-column justify-content-center">
  <header
    class="d-flex flex-column gap-3 align-items-center justify-content-center p-2 mb-4 w-100"
  >
    <div class="d-flex align-items-center justify-content-center m-0">
      <h2 class="m-0">Mi Trayectoria</h2>
      <button
        class="btn-default primary-button"
        type="button"
        (click)="modalAdd.toggleModal()"
        *ngIf="isLogin()"
      >
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <hr class="underline-title w-25 m-0 p-0" />
  </header>
  <section class="row" *ngIf="formations$ | async as formations">
    <ng-container *ngIf="formations.length > 0; else noFormations">
      <app-card
        [title]="formacion.title"
        [subtitle]="formacion.academy"
        [description]="formacion.description"
        [footer]="mapDate(formacion.startDate) + ' - ' + mapDate(formacion.endDate)"
        *ngFor="let formacion of formations"
        class="col-lg-4 col-md-6 col-12 py-3"
      >
        <div class="container p-3" *ngIf="isLogin()">
          <app-modal-actions-button
            (edit)="seleccionarFormacion(formacion); modalEdit.toggleModal()"
            (remove)="
              seleccionarFormacion(formacion); modalEliminar.toggleModal()
            "
          >
          </app-modal-actions-button>
        </div>
      </app-card>
    </ng-container>
  </section>
</article>
<app-modal #modalAdd [titulo]="'Add Formation'">
  <app-formation-form
    (formSubmitted)="agregarFormacion($event); modalAdd.toggleModal()"
    (formCancel)="modalAdd.toggleModal()"
  ></app-formation-form>
</app-modal>
<app-modal #modalEdit [titulo]="'Edit Formation'">
  <app-formation-form
    [formationData]="formacionSeleccionada"
    (formSubmitted)="editarFormacion($event); modalEdit.toggleModal()"
    (formCancel)="modalEdit.toggleModal()"
  ></app-formation-form>
</app-modal>
<app-modal #modalEliminar [titulo]="'Delete Formation'">
  <p *ngIf="formacionSeleccionada">
    Do you really want to remove <b>{{ formacionSeleccionada.title }}</b
    >?
  </p>
  <button
    *ngIf="formacionSeleccionada"
    class="btn-default danger-button m-2"
    type="submit"
    (click)="
      eliminarFormacion(formacionSeleccionada.id); modalEliminar.toggleModal()
    "
  >
    Delete
  </button>
</app-modal>
<ng-template #noFormations>
  <p>Cargando mi trayectoria ...</p>
</ng-template>
