<article class="text-center w-100">
  <header class="d-flex gap-3 align-items-center justify-content-center">
    <h1 class="title">Formación</h1>
    <button
      class="btn btn-outline-success"
      type="button"
      (click)="modalAdd.toggleModal()"
      *ngIf="estaLogeado()"
    >
      <i class="fa fa-plus"></i>
    </button>
  </header>
  <section
    class="w-100 d-flex flew-wrap justify-content-center align-items-center"
    *ngIf="this.formaciones.length > 0; else noFormations"
  >
    <article class="col-4" *ngFor="let formacion of this.formaciones">
      <header
        class="d-flex flex-column justify-content-center align-items-center gap-3"
      >
        <img [src]="formacion.img" alt="img-item-formacion" width="150px" />
        <h4>{{ formacion.title }}</h4>
      </header>
      <section class="descripcion p-2">
        <p>{{ formacion.timeForm }}</p>
        <a [href]="formacion.link">Demo</a>
      </section>
      <footer class="d-flex justify-content-center alignt-items-center gap-3">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="seleccionarFormacion(formacion); modalEdit.toggleModal()"
        >
          <i class="fa fa-plus"></i>
        </button>
        <button
          class="btn btn-outline-danger"
          type="button"
          (click)="eliminarFormacion(formacion.id)"
        >
          <i class="fa fa-trash-can"></i>
        </button>
      </footer>
    </article>
  </section>
</article>
<app-modal #modalAdd [titulo]="'Agregar Formacion'">
  <app-formation-form
    (formSubmitted)="agregarFormacion($event); modalAdd.toggleModal()"
  ></app-formation-form>
</app-modal>
<app-modal #modalEdit [titulo]="'Editar Formacion'">
  <app-formation-form
    [formationData]="this.formacionSeleccionada"
    (formSubmitted)="editarFormacion($event); modalEdit.toggleModal()"
  ></app-formation-form>
</app-modal>
<app-modal #modalEliminar [titulo]="'Eliminar Formación'">
  <p *ngIf="this.formacionSeleccionada">
    ¿Realmente deseas eliminar <b>{{ this.formacionSeleccionada }}</b
    >?
  </p>
  <button
    *ngIf="this.formacionSeleccionada"
    class="btn btn-danger m-2"
    type="submit"
    (click)="
      eliminarFormacion(this.formacionSeleccionada.id);
      modalEliminar.toggleModal()
    "
  >
    Eliminar
  </button>
</app-modal>
<ng-template #noFormations>
  <p>- No podemos cargar las formaciones en este momento. -</p>
</ng-template>
