<article class="text-center w-100">
  <header class="d-flex gap-3 align-items-center justify-content-center">
    <h2 class="m-0">Formation</h2>
    <button
      class="btn-default primary-button"
      type="button"
      (click)="modalAdd.toggleModal()"
      *ngIf="estaLogeado()"
    >
      <i class="fa fa-plus"></i>
    </button>
  </header>
  <section
    class="w-100 d-flex flew-wrap justify-content-center align-items-center row mx-auto"
    *ngIf="this.formaciones.length > 0; else noFormations"
  >
    <app-card
      [title]="formacion.title"
      [subtitle]="formacion.academy"
      [description]="formacion.description"
      [footer]="formacion.startDate + ' - ' + formacion.endDate"
      *ngFor="let formacion of formaciones"
      class="col-4 m-2"
    >
      <footer
        class="d-flex justify-content-center alignt-items-center gap-3"
        *ngIf="this.estaLogeado()"
      >
        <button
          class="btn-default neutral-button"
          type="button"
          (click)="seleccionarFormacion(formacion); modalEdit.toggleModal()"
        >
          <i class="fa fa-pencil"></i>
        </button>
        <button
          class="btn-default danger-button"
          type="button"
          (click)="seleccionarFormacion(formacion); modalEliminar.toggleModal()"
        >
          <i class="fa fa-trash-can"></i>
        </button>
      </footer>
    </app-card>
  </section>
</article>
<app-modal #modalAdd [titulo]="'Add Formation'">
  <app-formation-form
    (formSubmitted)="agregarFormacion($event); modalAdd.toggleModal()"
    (formCancel)="modalAdd.toggleModal()"
  ></app-formation-form>
</app-modal>
<app-modal #modalEdit [titulo]="'Edit Formation'">
  <app-formation-form
    [formationData]="this.formacionSeleccionada"
    (formSubmitted)="editarFormacion($event); modalEdit.toggleModal()"
    (formCancel)="modalEdit.toggleModal()"
  ></app-formation-form>
</app-modal>
<app-modal #modalEliminar [titulo]="'Delete Formation'">
  <p *ngIf="this.formacionSeleccionada">
    Do you really want to remove <b>{{ this.formacionSeleccionada.title }}</b
    >?
  </p>
  <button
    *ngIf="this.formacionSeleccionada"
    class="btn-default danger-button m-2"
    type="submit"
    (click)="
      eliminarFormacion(this.formacionSeleccionada.id);
      modalEliminar.toggleModal()
    "
  >
    Delete
  </button>
</app-modal>
<ng-template #noFormations>
  <p>- We cannot load academic formations at this time. -</p>
</ng-template>
