<form #editForm (ngSubmit)="editarHabilidad(editForm)" *ngIf="this.editHabilidad">
  <div class="form-group">
    <label for="idHab">Id</label>
    <input
      type="hidden"
      [ngModel]="editHabilidad.id"
      name="idHab"
      class="form-control"
      id="idHab"
      placeholder="id"
      required
    />
  </div>
  <div class="form-group">
    <label for="nombreHab">Nombre</label>
    <input
      type="text"
      [ngModel]="editHabilidad.name"
      name="nombre"
      class="form-control"
      id="nombreHab"
      placeholder="nombre"
      required
    />
  </div>
  <div class="form-group">
    <label for="urlLogo">URL logo</label>
    <input
      type="url"
      [ngModel]="editHabilidad.logo"
      name="logo"
      class="form-control"
      id="urlLogo"
      placeholder="logo"
      required
    />
  </div>
</form>
