.bg-jobs {
  color: var(--primary-text-color);
  padding-top: 150px;

  background: linear-gradient(190deg, var(--bg-primary-color) 0%, var(--bg-primary-b-color) 50%, var(--bg-primary-color) 100%);
  background-size: 200% 200%;
  animation: backgroundShift 10s ease infinite;
  transition: background 0.5s ease;
}
