<form #editForm (ngSubmit)="(editForm)" *ngIf="this.job">
  <div class="form-group">
    <label for="idTrab">Id</label>
    <input
      type="hidden"
      [ngModel]="job.id"
      name="idTrab"
      class="form-control"
      id="idTrab"
      placeholder="id"
      required
    />
  </div>
  <div class="form-group">
    <label for="nombreTrab">Nombre</label>
    <input
      type="text"
      [ngModel]="job.job"
      name="nombre"
      class="form-control"
      id="nombreTrab"
      placeholder="nombre"
      required
    />
  </div>
  <div class="form-group">
    <label for="descripcionTrab">Descripcion</label>
    <input
      type="text"
      [ngModel]="job.description"
      name="descripcion"
      class="form-control"
      id="descripcionTrab"
      placeholder="descripcion"
      required
    />
  </div>
  <div class="form-group">
    <label for="urlimagen">URL imagen</label>
    <input
      type="url"
      [ngModel]="job.imgSrc"
      name="imagen"
      class="form-control"
      id="urlimagen"
      placeholder="imagen"
      required
    />
  </div>
  <button class="btn btn-success m-2" type="submit">Guardar</button>
</form>
